<% @ponies.each do |pony| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= pony.title %></h1><br />
    <i><%= pony.description %></i><br />
    <p><%= pony.cost %></p><br />
  </div>

<% end %>